* {
    margin: 0;
    padding: 0;
}

#page-title {
    background-color: #e3e3e3;
    border-color: #e3e3e3;
}

.font-18 {
    font-size: 18px;
}

#carousel {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.carousel-caption > h5, .carousel-caption > p {
    color: black;
}

#partners-container {
    margin: 100px 0;
}

#partners-section {
    height: 150px;
}

#form-container {
    width: 80%;
}

#form-button {
    background-color: #e3e3e3;
    border: 2px solid #a3a2a2;
}

#form-button:hover {
    background-color: #a3a2a2;
}

footer {
    background-color: #e3e3e3;
}

#footer-lists-container {
    margin-bottom: 75px;
}

.footer-list-item > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-list-item > a:hover {
    color: #8a8a8a;
}